/*==========================*/

.app-bg {
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
}

/*==========================*/
/* Connections panel */

.connections-mobile-title {
    margin-bottom: 8px;
}

.fixed-column {
    width: 20px;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.compact {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    margin-bottom: 5px !important;
}

.pwmpnl {
    min-width: fit-content;
}

.pwmtbl table {
    overflow-x: auto;
}

.pwmtbl th {
    text-align: center;
    font-weight: bold;
}

.pwmtbl td {
    text-align: center;
}

.pwmitm {
    min-width: 6em;
    white-space: nowrap;
    width: fit-content;
}

/*==========================*/
/* Hardware panel */

img.icon-input {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='700pt' height='700pt' version='1.1' viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m326.67 46.668h46.664v260.54l140-140 32.996 32.992-196.33 196.33-196.33-196.33 32.996-32.992 140 140zm210 396.66v-93.332h46.664v140h-466.66v-140h46.664v93.332z' fill='%2312B0FB' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    display: block;
    height: 1.5em;
    width: 1.5em;
    float: right;
}

img.icon-output {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='700pt' height='700pt' version='1.1' viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m373.33 396.67h-46.664v-283.88l-140 140-32.996-32.992 196.33-196.33 196.33 196.33-32.996 32.992-140-140zm163.34 46.664v-93.332h46.664v140h-466.66v-140h46.664v93.332z' fill='%2371D358' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
    display: block;
    height: 1.5em;
    width: 1.5em;
    float: right;
}

img.icon-analog {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='%23ff9800' stroke-width='4'%3E%3Cpath d='M8 52V12M56 52V12M8 22h12l8 20h8l8-14h12'/%3E%3C/g%3E%3C/svg%3E");
    display: block;
    height: 1.5em;
    width: 1.5em;
    float: right;
}

img.icon-pwm {
    content: url("data:image/svg+xml,%3Csvg width='400' height='400' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23C462DD' stroke-width='10' stroke-linecap='undefined' stroke-linejoin='undefined' fill='none'%3E%3Cline y2='318' x2='2' y1='318' x1='106'/%3E%3Cline y2='74' x2='105' y1='323.00001' x1='105'/%3E%3Cline y2='79' x2='254.00001' y1='79' x1='106'/%3E%3Cline y2='323' x2='249' y1='79' x1='249'/%3E%3Cline y2='318' x2='248' y1='318' x1='320'/%3E%3Cline y2='317' x2='315' y1='77' x1='315'/%3E%3Cline y2='77' x2='310' y1='77' x1='377'/%3E%3Cline y2='78' x2='372' y1='322.00001' x1='372'/%3E%3Cline y2='317' x2='371' y1='317' x1='399'/%3E%3C/g%3E%3C/svg%3E");
    display: block;
    height: 1.5em;
    width: 1.5em;
    float: right;
}
