.menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 20px;
    color: currentColor;
}

.menu-icon svg {
    width: 100%;
    height: 100%;
}
